@import url('https://fonts.googleapis.com/css?family=Raleway:300|Rubik&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root{
  --headfont: 'Rubik', sans-serif;
  --bodyfont: 'Raleway Light', sans-serif;
  --thinfont: 'Raleway Light';
  --white: #ffffff;
  --offwhite: #f9f9fc;
  --darkgray: #333333;
  --gray: #4D4D4D;
  --lightgray: #999999;
  --green: #C2E15F;
  --orange: #FDA333;
  --purple: #D3A4F9;
  --red: #fb5344;
  --pinkred: #FB4485;
  --blue: #6CE0F1;
  --salmon: #fa8a90;
  --salmon-light: #fa9ba1;
  --cyan : #8afaf4;
  --shadow: #cccccc;
  font-family: var(--bodyfont);
  color: var(--gray);
  background-color: var(--offwhite);
}

html, body, #root{
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--headfont);
  margin-bottom: 0.5rem;
  letter-spacing: 0.125em;
}

h1 { font-size: 3.0rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2.0rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.0rem; }
h6 { font-size: 0.5rem; }

#root{
  display:grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: ". . ." ". center ." ". . .";
  background-color: var(--offwhite);
}

.slide {
  width: calc(min(95vw, 168.89vh));
  height: calc(min(54vw, 95vh));
  grid-area: center;
  box-shadow: 0px 0px 10px var(--shadow);
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-color: var(--white);
}

.centerslide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
